<script>
import axios from 'axios';
import {GLTFLoader} from "three/examples/jsm/loaders/GLTFLoader";
import Container from 'sveltestrap/src/Container.svelte'
import Row from 'sveltestrap/src/Row.svelte'
import Col from 'sveltestrap/src/Col.svelte'
import ListGroup from 'sveltestrap/src/ListGroup.svelte'
import ListGroupItem from 'sveltestrap/src/ListGroupItem.svelte'
import Badge from 'sveltestrap/src/Badge.svelte'
import Button from 'sveltestrap/src/Button.svelte'
import Input from 'sveltestrap/src/Input.svelte'
import Label from 'sveltestrap/src/Label.svelte'
import Modal from 'sveltestrap/src/Modal.svelte'
import ModalBody from 'sveltestrap/src/ModalBody.svelte'
import ModalHeader from 'sveltestrap/src/ModalHeader.svelte'
import Nav from 'sveltestrap/src/Nav.svelte'
import NavItem from 'sveltestrap/src/NavItem.svelte'
import NavLink from 'sveltestrap/src/NavLink.svelte'
import Progress from 'sveltestrap/src/Progress.svelte'
import Alert from 'sveltestrap/src/Alert.svelte'
import { goto } from '@sapper/app';
import { onMount } from 'svelte';


import {arAPI} from '../../utils/arAPI.js'
import {FILE_BASE} from '../../utils/data.js'

onMount(() => document.domain = "buildar.ru")


const STEPS = {
    'LOAD': 'LOAD',
    'MATERIALS': 'MATERIALS',
    'MARK': 'MARK',
}
const file_base = FILE_BASE;

    
let step = STEPS.LOAD

let file;

let modelPath, name, progress = 0;

const loader = new GLTFLoader();

let meshs= [];

let materials = [];
let materialModalIsOpen = false;
let materialModalMode = 'choose';
const toggleMaterialModal = (e, mesh) => {
    console.log({currentMesh, mesh})
    if (mesh) {
        currentMesh = mesh; 
    }
    materialModalIsOpen = !materialModalIsOpen
};


let currentMesh;
function updateMesh(currentMesh) {
    if (currentMesh) {
        let i = meshs.findIndex(e => e.name === currentMesh.name);
        meshs = [
            ...meshs.slice(0, i),
            currentMesh,
            ...meshs.slice(i + 1),
        ]
    }
}
$: updateMesh(currentMesh);




async function onOnput(event) {
    console.log(event.target.files);
    if (event.target.files.length) {
        let f = event.target.files[0];
        if (f.size > 50 * 1024 * 1024) {
            alert('Файл превышает 50МБ');
        } else {
            file = URL.createObjectURL(f);
            console.log(file )
            loader.load(file, function (gltf) {
                console.log(gltf);
                gltf.scene.traverse(e => {
                    if (!e.isMesh || !e.name) return;
                    console.log(e.name);
                    meshs = [
                        ...meshs,
                        {
                            name: e.name,
                            title: '',
                            checked: false,
                            materialIds: []
                        }
                    ]
                })
            })
        }
        // event.target.value = '';
        step = STEPS.MATERIALS
        let {data} = await arAPI.uploadFile(f, e => (progress = e.loaded / e.total * 100))
        modelPath = data.path;
    }
}

async function onMaterialInput(event) {
    if (event.target.files.length) {
        let f = event.target.files[0];
        if (f.size > 50 * 1024 * 1024) {
            alert('Файл превышает 50МБ');
        } else {
            try {
                let {data} = await arAPI.uploadFile(f)
                console.log(data)
                let id = materials.reduce((sum, a) => a.id > sum ? a.id : sum , 0) + 1;
                materials =[
                    ...materials,
                    {
                        title: f.name || '',
                        // path: URL.createObjectURL(f),
                        path: data.path,
                        id,
                    }
                ]
            } catch (e) {
                console.error(e);
                alert(JSON.stringify(e))
            } finally {
                event.target.value = '';
            }
        }
    }
}

let uploadModelError;
async function uploadModel() {
    let save_meshs = meshs.filter(e => e.checked)


    if (!name) {
        uploadModelError = 'Добавте название модели';
        return;
    } else {
        uploadModelError = false;
    }

    if (save_meshs.find(e => !(e.title && e.materialIds.length))) {
        uploadModelError = 'Добавте название и хотя бы один материал для каждого выбранного элемента';
        return
    } else {
        uploadModelError = false;
    }

    let {data} = await arAPI.uploadModel({modelPath, name, 
        config: JSON.stringify({
            materials,
            meshs: save_meshs
        })
    })

    console.log(data);

    goto(`/viewer/${data.modelId}`);

}

</script>

<style>
p {
    margin: 0;
}
</style>

<Container style="max-width: 844px">
    <Row>
        <Col class="mt-2">
            {#if step === STEPS.LOAD}
                <h3>Выберите файл:</h3>
                <input on:change={onOnput} type="file">
                <br>
                <p>На данный момент поддерживаются glb и gltf форматы.</p>
                <p>Позже будет добавлена поддержка <a href="https://github.com/mrdoob/three.js/tree/dev/examples/jsm/loaders">других</a></p>
            {:else if step === STEPS.MATERIALS}
                <Row >
                    <Col xs="auto" class="ml-auto">
                        <Button disabled={progress !== 100 || !modelPath} on:click={uploadModel} size="lg" color="primary">Сохранить</Button>
                    </Col>
                    <Col xs="12" class="mt-2">
                        {#if uploadModelError}
                            <Alert color="danger">
                                {uploadModelError}
                            </Alert>
                        {/if}
                    </Col>
                </Row>
                <Label>Название модели</Label>
                <Input type="text" bind:value={name} placeholder="Название модели"/>
                <Progress animated class="my-2" value={progress}>Загружено {progress}%</Progress>
                <ListGroup>
                    {#each meshs as mesh, i}
                        <ListGroupItem>
                            <Row>
                                <Col xs="2" sm="1">
                                    <h4><Badge>{i + 1}</Badge></h4>
                                </Col>
                                <Col xs="8" sm="10">
                                    {#if mesh.checked }
                                        <Input bind:value={mesh.title} placeholder="Ведите название элемента"/>
                                        <Row class="mt-2">
                                            <Col xs="auto"><b>name:</b> {mesh.name}</Col>
                                            <Col class="ml-auto" xs="auto">
                                                <Button class="ml-auto" on:click={(e) => toggleMaterialModal(e, mesh)}>
                                                    Материалы
                                                    {#if mesh.materialIds.length}
                                                        <Badge color="light">
                                                            {mesh.materialIds.length}
                                                        </Badge>
                                                    {/if}
                                                </Button>
                                            </Col>
                                        </Row>

                                    {:else}
                                        {mesh.name}
                                    {/if}
                                </Col>
                                <Col xs="2" sm="1">
                                    {#if !mesh.checked }
                                        <Button style="width: 100%" on:click={() => mesh.checked = true} color="success">+</Button>
                                    {:else}
                                        <Button style="width: 100%" on:click={() => mesh.checked = false} color="danger">-</Button>
                                    {/if}
                                </Col>
                            </Row>
                        </ListGroupItem>
                    {/each}
                </ListGroup>
            {:else if step === STEPS.MARK}
                <p>слишком холодная!</p>
            {/if}
        </Col>
    </Row>
</Container>


<Modal isOpen={materialModalIsOpen} toggle={toggleMaterialModal}>
    <ModalHeader toggle={toggleMaterialModal}>Материалы</ModalHeader>
    <ModalBody>
        <Nav tabs>
            <NavItem>
                <NavLink on:click={() => materialModalMode = 'choose'} active={materialModalMode === 'choose'}>Выбрать из загруженных</NavLink>
            </NavItem>
            <NavItem>
                <NavLink on:click={() => materialModalMode = 'edit'} active={materialModalMode === 'edit'}>Редактировать материалы</NavLink>
            </NavItem>
        </Nav>
        <Row style="min-height: 300px">
            {#if materialModalMode === 'choose'}
                {#if materials.length}
                    {#each materials as material}
                        <Col xs="6" class="mt-2">
                            <label for={'material' + material.id}>
                                <div class="card bg-dark text-white">
                                    <img src={file_base + '/' + material.path} class="card-img" alt={material.title}>
                                        <div class="card-img-overlay" style="background: linear-gradient(0deg, black, transparent); cursor: pointer;">
                                            <div class="row h-100">
                                                <div class="col-12 text-right">
                                                    {#if currentMesh.materialIds.find(e => e === material.id)}
                                                        <h5 class="card-title"><Badge color="success">+</Badge></h5>
                                                    {/if}
                                                </div>  
                                                <div class="col-12 mt-auto">
                                                    <h5 class="card-title">{material.title}</h5>
                                                </div> 
                                            </div>
                                            
                                        </div>
                                </div>
                            </label>
                            <input style="display: none;" bind:group={currentMesh.materialIds} value={material.id} type="checkbox" id={'material' + material.id}>
                        </Col>
                    {/each}
                {:else}
                    <Col xs="12" class="text-center my-5">
                        Нет ни одного материала. <Button on:click={() => (materialModalMode = 'edit')}>Добавить</Button>
                    </Col>
                {/if}
            {:else if materialModalMode === 'edit'}
                {#each materials as material}
                    <Col class="my-2" xs="6">
                        <Input class="my-2" bind:value={material.title} placeholder="Название материала" type="text"/>
                        <img class="img-fluid" src={file_base + '/' + material.path} alt={material.title}>
                    </Col>
                {/each}
                <Col xs="12">
                    <h5>Загрузить материал:</h5>
                    <input on:change={onMaterialInput} type="file">
                </Col>
            {/if}
        </Row> 
    </ModalBody>
 </Modal>


