body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #444444;
}
* {
  touch-action: manipulation;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

 #c {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}
.modal--hidden {
    display: none;
}
.modal {
    position: absolute;
    align-content: center;
    top: 30px;  
}

.ARbtn {
  background: #2f3640;
  height: 60px;
  width: 300px;
  border-radius: 30px;
  padding: 05px;
  transition: all .5s ease;
  color: #fff;
  font-size: 18px;
  justify-content: center;
    opa
  
}
 
.modal {
        animation: drop .45s ease forwards;   
}
@keyframes drop{
    0%{transform: translateY(-40px)}
    70%{ transform: translateY(10px)}
    100%{transform: translateY(0px)}
}
.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.options {
  position: absolute;
  left: 0;
}
.option {
  background-size: cover;
  background-position: 50%;
  background-color: white;
  margin-bottom: 3px;
  padding: 10px;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.option:hover {
  border-left: 5px solid white;
  width: 58px;
}
.option.--is-active {
  border-right: 3px solid red;
  width: 58px;
  cursor: default;
}
.option.--is-active:hover {
  border-left: none;
}
.option img {
  height: 100%;
  width: auto;
  pointer-events: none;
}
.info {
  padding: 0 1em;
  display: flex;
  justify-content: center;
}
.info p {
  margin-top: 0;
}
.tray {
  width: 100%;
  height: 50px;
  position: relative;
  overflow-x: hidden;
}
.tray__slide {
  position: absolute;
  display: flex;
  left: 0;
/*   transform: translateX(-50%);
  animation: wheelin 1s 2s ease-in-out forwards; */
}
.tray__swatch {
  transition: 0.5s ease-in;
  height: 60px;
  min-width: 100px;
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1.5);
  background-size: cover;
  background-position: center;
}
.tray__swatch:nth-child(5n+5) {
  margin-right: 20px;
}
.drag-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 10em;
  height: 10em;
  box-sizing: border-box;
  font-size: 0.9em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5em;
  background: white;
  position: absolute;

}
.ar {
   position: fixed;
   top: 12%;
   color: #2f3640;
   font-size: 15px;
}
.cvet {
    display: none;
}
.cvet--hidden {
    display: block;
    position: fixed;
    color: #2f3640;
    font-size: 20px;
    top: 12%;
}

.ar--hidden {
    display: none;
}


.drag-notice.start {
  animation: popout 0.25s 3s forwards;
}
@keyframes popout {
  to {
    transform: scale(0);
  }
}
@keyframes wheelin {
  to {
    transform: translateX(0);
  }
}
@media (max-width: 960px) {
  .options {
    top: 0;
  }
    .cvet--hidden {
        font-size: 18
    }
  .info {
    padding: 0 1em 1em 0;
  }
  .info__color {
    display: fixed;
    top: 5%;
  }
  .info__message p {
    margin: 0;
    font-size: 0.7em;
  }
}
@media (max-width: 720px) {
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em 1em;
  }
    .cvet--hidden {
        font-size: 16px;
    }
  .info__color {
    margin-bottom: 1em;
  }
}
@media (max-width: 680px) {
  .color {
    padding: 1em 2em;
  }
 .cvet--hidden {
        font-size: 12px;
        font-size: 24px;
        color: #2f3640;
        top: 8%;
    } 
}
  .options {
    bottom: 50px;
  }
  .option {
    margin-bottom: 1px;
    padding: 5px;
    height: 45px;
    width: 45px;
    display: flex;
  }
  .option.--is-active {
    border-right: 2px solid red;
    width: 47px;
  }
  .option img {
    height: 100%;
    width: auto;
    pointer-events: none;
  }
}