<script context="module">
	import {arAPI} from '../utils/arAPI.js'
	export async function preload({ params, query }) {
		let {data} = await arAPI.getAllModels()

		return {
			models: data
		}
	}
</script>

<script>
	import Container from 'sveltestrap/src/Container.svelte'
	import Row from 'sveltestrap/src/Row.svelte'
	import Col from 'sveltestrap/src/Col.svelte'
	import ListGroup from 'sveltestrap/src/ListGroup.svelte'
	import ListGroupItem from 'sveltestrap/src/ListGroupItem.svelte'
	export let models = [];


</script>

<svelte:head>
	<title>Build AR | List</title>
	<meta property="og:title" content="Build AR | List"/>
	<meta property="og:description" content="Список загруженных моделей"/>
	<meta property="og:image" content="https://ar.buildar.ru/logo-512.png"/>
	<meta property="og:type" content="profile"/>
	<meta property="og:url" content= "https://ar.buildar.ru/" />
</svelte:head>



<Container style="max-width: 844px">
	<Row>	
		<Col xs="12" class="my-2">
			<h1>Список загруженных моделей:</h1>
			<a href="/loader">Загрузить модель</a>
		</Col>
		<Col>
			<ListGroup>
				{#each models as model}
					<ListGroupItem tag="a" href='/viewer/{model.modelId}'  action>
						<a rel='prefetch' href='/viewer/{model.modelId}'>{model.name}</a>
					</ListGroupItem>
				{/each}
			</ListGroup>
		</Col>	
	</Row>
</Container>