.hidden {
  display: flex;
}


#container {
  position: auto;
  max-height: 150vh;
  left: 10%;
  right: 10%;
  bottom: -2vh;
  border-radius: 2vh;
  padding: 1vh 2vh 3vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: g;
  transition: 0.35s;
}

#container.collapsed {
  transform: translateY(10%);
  opacity: 0;
  pointer-events: none;
}

#contents {
  height: 100%;
  overflow-y: scroll;
  text-align: justify;
  font-size: 0.8rem;
  flex-grow: 1;
}

#contents h1 {
  text-align: left;
}

.outer {
  flex: 0 0 auto;
}

#closeButton {
  float: right;
  padding: 0.35em;
  size: 20px;
}

.ar {
  float: right;
}
