<script context="module">
	import {arAPI} from '../../utils/arAPI.js'
	export async function preload({ params, query }) {

		try {
			let {data} = await arAPI.getModel(params.id)
			let {config, modelPath} = data;
			let {meshs, materials} = JSON.parse(config);
			let {customId} = query;

			// let {data: file} = await arAPI.getFile(modelPath);

			return {
				model: data, 
				// modelPath: '/modelsStorage/web6_ru.glb', 
				modelPath,
				meshs, materials,
				customId,
			}
		} catch (e) {
			this.error(404, JSON.stringify(e, null, 2));
		}
	}
</script>

<script>
import * as THREE from 'three'
import { auth, setAuth } from "../../stores/auth";
import { onMount } from 'svelte';
import {GLTFLoader} from "three/examples/jsm/loaders/GLTFLoader";
import {GLTFExporter} from "three/examples/jsm/exporters/GLTFExporter";
import {OrbitControls} from "three/examples/jsm/controls/OrbitControls";
import {FILE_BASE} from '../../utils/data.js'
import { fly } from 'svelte/transition';
import { goto } from '@sapper/app';

import Input from 'sveltestrap/src/Input.svelte'
import Button from 'sveltestrap/src/Button.svelte'



let canvas, renderer, scene, camera;
let theModel;
let fps = 100;

export let model, modelPath, meshs, materials, customId;

let currentMesh = meshs[0];

// $: log({currentMesh, m: materials.filter(e => currentMesh.materialIds.find(id => e.id))})

function log(l) {
	console.log(l)
}

let customConfig = {}
let customModel;
let ARtimeout;


onMount(async () => {
	fps = localStorage.getItem('ar-fps') || 100;
	console.log({model, modelPath, meshs, materials})
	setAuth(localStorage.getItem('ar-client-id'));

	try {
		document.domain = "buildar.ru"
	} catch (error) {
		console.error(error);
	}

    if (!$auth) {
        let {data} = await arAPI.getClientId();
        setAuth(data);
	}

	if (customId) {
		let {data} = await arAPI.getCustomModel(customId);
		customModel = data;
		customConfig = JSON.parse(data.customConfig);
	}

	const BACKGROUND_COLOR = 0xf1f1f1;
	scene = new THREE.Scene();
	scene.background = new THREE.Color(BACKGROUND_COLOR);
	// scene.fog = new THREE.Fog(BACKGROUND_COLOR, 20, 100);
	renderer = new THREE.WebGLRenderer({ canvas, antialias: true });
	renderer.shadowMap.enabled = true;
	renderer.setPixelRatio(window.devicePixelRatio);
	const cameraFar = 5;
	camera = new THREE.PerspectiveCamera(50, window.innerWidth / window.innerHeight, 0.1, 1000);
	camera.position.z = cameraFar;
	camera.position.x = 0;
	camera.position.y = 80;
	console.log(camera)
	// Add lights
	var hemiLight = new THREE.HemisphereLight(0xffffff, 0xffffff, 0.61);
	hemiLight.position.set(0, 50, 0);
	// Add hemisphere light to scene   
	scene.add(hemiLight);

	var dirLight = new THREE.DirectionalLight(0xffffff, 0.54);
	dirLight.position.set(-8, 12, 8);
	dirLight.castShadow = true;
	dirLight.shadow.mapSize = new THREE.Vector2(1024, 1024);
	// Add directional Light to scene    
	scene.add(dirLight);

	// Floor
	var floorGeometry = new THREE.PlaneGeometry(5000, 5000, 1, 1);
	var floorMaterial = new THREE.MeshPhongMaterial({
	color: 0xeeeeee,
	shininess: 0 });


	var floor = new THREE.Mesh(floorGeometry, floorMaterial);
	floor.rotation.x = -0.5 * Math.PI;
	floor.receiveShadow = true;
	floor.position.y = -1;
	scene.add(floor);

	// Add controls
	var controls = new OrbitControls(camera, renderer.domElement);
	controls.maxPolarAngle = Math.PI / 2;
	controls.minPolarAngle = Math.PI / 3;
	controls.enableDamping = true;
	controls.enablePan = false;
	controls.dampingFactor = 0.1;
	controls.autoRotate = false; // Toggle this if you'd like the chair to automatically rotate
	controls.autoRotateSpeed = 0.2; // 30


	let loader = new GLTFLoader();

	loader.load(FILE_BASE + '/' + modelPath, function (gltf) {
		theModel = gltf.scene;

		  // Set the models initial scale   
		theModel.scale.set(20, 20, 20);
		theModel.rotation.y = Math.PI +135;

		// Offset the y position a bit
		theModel.position.y = -1;
		scene.add(theModel);

		theModel.traverse(o => {
			if (o.isMesh &&  o.name != null) {
				if (Object.keys(customConfig).find(e => e === o.name)) {
					setMaterial(materials.find(e => e.id === customConfig[o.name]), o.name);
				}
			}
		})
	})

	
	function animate() {
		controls.update();
		renderer.render(scene, camera);
		// requestAnimationFrame(animate);
		setTimeout(() => {
			requestAnimationFrame(animate);
		}, 1000 / fps); 

		if (resizeRendererToDisplaySize(renderer)) {
			camera.aspect = canvas.clientWidth / canvas.clientHeight;
			camera.updateProjectionMatrix();
		}

		// if (theModel != null && loaded == false) {
		// 	initialRotation();
		// }
	}

	animate();

	// Function - New resizing method
	function resizeRendererToDisplaySize(renderer) {
	const canvas = renderer.domElement;
	var width = window.innerWidth;
	var height = window.innerHeight;
	var canvasPixelWidth = canvas.width / window.devicePixelRatio;
	var canvasPixelHeight = canvas.height / window.devicePixelRatio;

	const needResize = canvasPixelWidth !== width || canvasPixelHeight !== height;
	if (needResize) {

		renderer.setSize(width, height, false);
	}
	return needResize;
	}

	renderer.render(scene, camera);
	
})

function setMaterial(material, meshName) {
		let loader = new THREE.TextureLoader()

		loader.load(FILE_BASE + '/' + material.path, (txt) => {
			txt.repeat.set(1,1,1);
			txt.wrapS = THREE.RepeatWrapping;
			txt.wrapT = THREE.RepeatWrapping;
			theModel.traverse(o => {
				if (o.isMesh &&  o.name != null) {
					if (o.name == meshName) {
						console.log(o)
						o.material.map = txt;
						o.material.needsUpdate = true;

						customConfig = {
							...customConfig,
							[meshName]: material.id
						}
					}
				}
			});
		})
}

function saveTimeout() {
	if (ARtimeout) clearTimeout(ARtimeout);
	ARtimeout = setTimeout(save, 2500);
}

async function save() {
	if (!customId || customModel.userId != $auth.userId) {
		let {data} = await arAPI.addCustomModel({customConfig, modelId: model.modelId});
		goto(`/viewer/${model.modelId}?customId=${data.customModelId}`, {replaceState: true});
		customId = data.customModelId;
		customModel = data;
	} else {
		await arAPI.updateCustomModel(customId, {customConfig, modelId: model.modelId})
	}
}


async function openAR() {
	try {
		await save()
	} catch (e) {
		console.log(e)
	}
	let exporter = new GLTFExporter();
	exporter.parse(theModel, (gltf) => {
		goto(`/viewer/ar/${encodeURIComponent(URL.createObjectURL(new Blob([gltf])))}`)
	}, {binary: true})
}

</script>

<svelte:head>
	<title>Build AR | Customizer</title>
	<meta property="og:title" content="Customizer"/>
	<meta property="og:description" content="Редактор модели"/>
	<meta property="og:image" content="https://ar.buildar.ru/logo-512.png"/>
	<meta property="og:type" content="profile"/>
</svelte:head>


<div on:mouseup={saveTimeout} style="width:100%; height:100%; overflow: hidden">

	<canvas style="width: 100%" bind:this={canvas}></canvas>

	<Button style="position: absolute; top: 5px; right: 5px" on:click={openAR}>AR</Button>

	<div class="materials">
		<div style="display: flex; padding: 25px 20px 10px; overflow-y: scroll">
				{#each materials.filter(e => currentMesh.materialIds.find(id => id === e.id)) as material, i (material.id)}
					<img in:fly="{{ x: 200, duration: 300, delay: 50 * (i + 1) }}" out:fly="{{ x: -100, duration: 300 }}" on:click={() => setMaterial(material, currentMesh.name)} class="material" src={FILE_BASE + '/' + material.path} alt="{material.title}">
				{/each}
		</div>
						
		<div style="justify-content: center; display: flex; width: 100%;">
			<Input style="width: 200px" on:change={(e) => currentMesh = meshs.find(m => m.name === e.target.value)} type="select" >
				{#each meshs as mesh}
					<option value="{mesh.name}">{mesh.title}</option>
				{/each}
			</Input>
		</div>			
	</div>

</div>


<style>
	canvas {
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 0;
	}

	.materials {
		width: 100%;
		min-height: 20vh;
		position: absolute;
		bottom: 0;
	}

	.materials img {
		width: 100px;
		height: 100px;
		background: black;
	}

	.material {
		margin-left: -17px;
    	box-shadow: -10px 0px 14px rgba(0,0,0,0.5);
		transition: .115s ease;
	}

	.material:hover {
		transform: translateY(-10px);
		transition: .115s ease;
	}
</style>