<script context="module">
	export async function preload({ params, query }) {
        return {
            model: decodeURIComponent(params.model)
        }
        
    }
</script>

<script>
    export let model;
</script>


<model-viewer 
    position="0 0 0"
    src="{model}"
    ar
    ar-modes="webxr quick-look fallback"
    ar-scale="auto" 
    camera-controls 
    alt="House" 
>
</model-viewer>

<style>
    model-viewer {
        width: 100vw;
        height: 95vh;
    }
</style>

<svelte:head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script
      type="module"
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"
    ></script>

    <title>Build AR | AR viewer</title>
	<meta property="og:title" content="AR viewer"/>
</svelte:head>